---
import BrowserWindow from "./index.astro";

interface Props {
  url: string;
  title?: string;
  tabTitle?: string;
}

const {
  url,
  title = "Interactive BrowserTab product demo",
  tabTitle = "New Tab",
} = Astro.props;
---

<div>
  <BrowserWindow
    url={url}
    title={tabTitle}
    class="mx-auto w-[1120px] max-w-full rounded-2xl border-black/10 shadow-[0_28px_80px_rgba(35,28,20,0.14)]"
    bodyClass="overflow-hidden p-0"
  >
    <div class="relative aspect-[16/9] w-full overflow-hidden">
      <iframe
        src={url}
        title={title}
        class="absolute inset-0 block size-full border-0"
      ></iframe>
    </div>
  </BrowserWindow>
</div>
